.big_stop {
	color:red;
	font-weight:bold;
	background-color:black;
	font-size:50px;
	text-decoration:underline;
}

body {
	background:black;
	color:white;
}


.big_subheading {
	color:#9819ff;
	font-weight:bold;
}


.completely_free {
	color:red;
	font-style:italic;
	text-decoration:underline;
}


.methods_preview {
	background-color:white;
	color:black;
}

.methods_preview p {
	text-decoration:underline;
}